{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .league_info{
        width: 33%;
        }
    .league_box{
        display:flex;
        justify-content : space-around;
    }
    .search_result{
    width: 90%;
    font-size: 1.0em;
    }

    .profile{
        text-align: center;
        font-size: 1.2em;
        margin-bottom : 60px;
        margin-top : 30px;
    }
    .highest{
        text-align : center;
        margin-top : 50px;
    }
    .tier_img{
        width : 100%;

    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css ' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
    <link rel = "stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'find.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>리뷰 사이트</title>
</head>
<body>
        <div class="navbar">
            <div class="navitem"><a href="{% url 'home' %}">홈</a></div>
            {% if user.is_authenticated %}
                <div class="navitem">안녕하세요 {{user.username}}님</div>
                <div class="navitem"><a href="{% url 'logout' %}">로그아웃</a></div>
                <div class="navitem"><a href="{% url 'reset_password' user.pk %}">비밀번호 바꾸기</a></div>
            {% else %}
                <div class="navitem"><a href="{% url 'signup' %}">회원가입</div>
                <div class="navitem" ><a href="{% url 'login' %}">로그인</a></div>
                <div class="navitem" ><a href="{% url 'find_username' %}">아이디 찾기</a></div>
                <div class="navitem" ><a href="{% url 'find_password' %}">비밀번호 찾기</a></div>
                <div class="navitem"><a href="{% url 'find' %}">검색</a></div>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
</body>
</html>