<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
        <title>Document</title>
    </head>
    <body>
    {% block content %}
        <div class="name">
            <h1>리뷰</h1>
        </div>
        <div class="bigbox">
            <div class="formbox">
                <form method="POST" enctype='multipart/form-data'>
                {%for field in form %}
                    {% csrf_token %}
                    <div class='new_form'>
                        {{field.label}}
                        {{field}}
                    </div>
                {% endfor %}
                <button class ="button" type = "submit">제출!</button>
                </form>
            </div>
        </div>
    {% endblock %}
    </body>
</html>