{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="title">
        오늘의 할 일
        <span>
          <i id="plus" class="fas fa-plus"></i>
          <i id="delete_all" class="far fa-trash-alt icon"></i>
        </span>
      </div>
      <input type="text" id="input" name="{{csrf_token}}"/>
      {% comment %} <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.text}}
      </form> {% endcomment %}

      <div class="list">
      {% for todo in todos %}
      
        <div name = "{{todo.id}}">
          - {{todo.text}}
          <span>
            <i class="far fa-trash-alt icon"></i>
          </span>
        </div>
      
      {% endfor%}
      </div>
    </div>
      
        {% comment %} <div>
          - 멋쟁이사자처럼 교안 짜기
          <span>
            <i class="far fa-trash-alt icon"></i>
          </span>
        </div>
        <div>
          - 기억심리학 과제하기
          <span>
            <i class="far fa-trash-alt icon"></i>
          </span>
        </div>
      </div> {% endcomment %}
    
  
    <script>
      // + 버튼 클릭 시, input fade 토글


        $("#input").keydown(function(key){
          if(key.keyCode === 13){
            let text = $("input").val()
            let csrf = $("input").attr('name')
            console.log(csrf)
            let ht = `<div>-${text}<span>
            <i class="far fa-trash-alt icon"></i>
          </span></div>`
            $(".list").append(ht)
            input.value=''
            $.ajax({
              type : "POST",
              url : "{% url 'todo' %}",
              data : {'text': text},
              success :  function(response){
               
              }
            })
          }
        })
        
        $('#plus').click(function(){
          $("#input").fadeToggle();
           
        })
  
        $('#plus').click(function(){
           $("#input").on();
        })  
        

        function toggle(){
           $(this).toggleClass("complete");
        }
  
        $(".list").on('click', 'div', toggle)

        $(".list").on('click', 'div span', function(){
            let pk = $(this).parent().attr('name')
            console.log(pk)
            $.ajax({
              type : "POST",
              url : "{% url 'todo_delete'%}",
              data : {'pk': pk},
              success :  function(response){
               
              }
            })
            $(this).parent().fadeOut(500)
        })

        $("#delete_all").click(function(){
          let pks = new Array()
          $('.complete').each(function(i){
            pk = $(this).attr('name')
            $.ajax({
              type : "POST",
              url : "{% url 'todo_delete' %}",
              data : {'pk': pk},
              success :  function(response){        
              }
            })
          })          
          $('.complete').fadeOut(500);
        })
        
        
  
        {% comment %} // let xmlhttp;

        // if(window.XMLHttpRequest)
        //     xmlhttp = new XMLHttpRequest()
        // else
        //     xmlhttp = new ActiveXObject("Microsoft.XMLHTTP")


        // $(".list").on('click', 'div span', function(){
        //   $(this).parent().fadeOut(500);
        //   $.ajax({
        //         type : "POST",
        //         url : "{% url 'todo_delete' $(this).pk %}",
        //         data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        //         success : function(data){
        //             console.log('성공')
        //         }
        //     })
        // })

        
      // trash icon 클릭 시, 500ms 간 fadeOut 후 사라짐
  
  
      // 작성된 리스트 누르면 .complete라는 클래스 토글
  
  
      // 입력 후 엔터 입력 시, 새로운 리스트 생성
  
  
      // 상단의 trash 버튼 클릭 시, 완료된 리스트 모두 삭제
   {% endcomment %}
      
    </script>
{% endblock %}




