.navbar {
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #efefef;
  display: flex;
  align-items: center;
}

*{
  padding:0px;
  margin : 0px;
}
.navitem {
  font-size: 18px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}


.ally_box{
  background-color: gray;
}

.enemy_box{
  background-color: pink;
}

.team_box{
  display: flex;
}