{% extends 'base.html' %}
{% block content %}
<div class="signup_bigbox">
    <div class="signup_title"><h2>비밀번호 찾기</h2></div>
    {% if form %}
        <form method="POST">
            {% csrf_token %}
            <div class="singup_form">
                    <div>
                        {{form.last_name.label}}
                    </div>
                    <div class="username_form">
                        {{form.last_name}}
                    </div>
            </div>
            <div class="singup_form">
                    <div>
                        {{form.first_name.label}}
                    </div>
                    <div class="username_form">
                        {{form.first_name}}
                    </div>
            </div>
            
            <div class="singup_form">
                    <div>
                        {{form.email.label}}
                    </div>
                    <div class="username_form">
                        {{form.email}}
                    </div>
            </div>
            <div class="singup_form">
                    <div>
                        {{form.username.label}}
                    </div>
                    <div class="username_form">
                        {{form.username}}
                    </div>
            </div>
            <input class="signup_input" type="submit" value="비밀번호 찾기">
        </form>
    {% else %}
        {% if error %}
            {{error}}
        {% else %}
            {{message}}
            {{temp_pass}}
        {% endif %}
    {% endif %}
</div>
{% endblock %}