{% extends 'base.html' %}
{% block content %}
<div class="signup_bigbox">
    <div class="signup_title"><h2>비밀번호 재설정</h2></div>
    {% if message %}
        {{message}}
    {% else %}
        {% if error %}
            {{error}}
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <div class="singup_form">
                        <div>
                            {{form.password_origin.label}}
                        </div>
                        <div class="username_form">
                            {{form.password_origin}}
                        </div>
                </div>
                <div class="singup_form">
                        <div>
                            {{form.password.label}}
                        </div>
                        <div class="username_form">
                            {{form.password}}
                        </div>
                </div>
                <div class="singup_form">
                        <div>
                            {{form.password_check.label}}
                        </div>
                        <div class="username_form">
                            {{form.password_check}}
                        </div>
                </div>
            
                <input class="signup_input" type="submit" value="비밀번호 재설정">
            </form>
        {% endif %}
   {% endif %}
</div>
{% endblock %}